main > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vw;
}

#reviewlist > li {
    height: 20vw;
    width: 20vw;
    padding: 5px;
    border: 1px solid red;
}

#reviewlist > li > img {
    max-width: 20vw;
    max-height: 20vw;
}
